
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&family=Roboto:ital,wght@0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Roboto:ital,wght@0,500;1,300;1,400&display=swap');
body{
    background-color: black;
}
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.banner{
    background: url(./assets/images/banner.png) black;
    text-align: center;
    border-bottom: 1px solid #33A8DB;

}
h1{
    background-image: linear-gradient(to bottom, #33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-family: Raleway;
    font-weight: 900;
    text-transform: uppercase;
}
.centro{
    box-sizing:content-box;
    width: 40%;
    margin: auto;
    text-align: center;
    color: white;
    font-family: Raleway;
    font-weight: 400;
}
.banner-content{
    object-fit: contain;
    text-align: center;
    color: white;
}
button{
    background-image: linear-gradient(to bottom, #33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-family: Raleway;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 20px 60px 20px;
    padding: 20px 60px;
    border: 2px solid #33A8DB;
    letter-spacing: 3px;

}
h2{
    color: #33A8DB;
    font-family: Raleway;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
}
section{
    margin: 100px auto;
}

#course-content{
    width: 800px;
    text-align: center;
}
p{
    color: white;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
}
#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}
.module{
    background-color: #252525;
    box-shadow: inset 3px 3px 3px black;
    text-align: center;
    width: 700px;
    border: 1px solid #33A8DB;
    border-radius: 25px;
    margin: 20px 0px 30px 20px;
    padding: 10px 100px 10px 100px;
    color: white;
    font-family: Raleway;
    font-weight: 400;
}
span{
    color: #33A8DB;
    font-family: Raleway;
    font-weight: 400;
}
#transform-world {
    height: 560px;
    background-size: cover;
    background-image: url(../images/woman-code.png);
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}
#professional-challenges {
    text-align: center;
    width: 800px;
}
footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
}